extends ../layouts/common

block content
  h1 Create book

  form(action="/books/create", method="POST")
    .form-group
      label Title
      input.form-control(type="text", name="title")

      label Description
      input.form-control(type="text", name="description")

    button.btn.btn-primary Create