html
  head
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    link(rel="icon", type="image/png", href="favicon.png")
    link(rel="stylesheet", href="custom.css")
  
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/')
        img(src="/favicon.png")
      button.navbar-toggler(type='button')
        span.navbar-toggler-icon
      .collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/users') Users
          li.nav-item.active
            a.nav-link(href='/books') Books
          li.nav-item.active
            a.nav-link(href='/transactions') Transactions
            
    .container
      block content
    
    
    